<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css'/>
    <link type="text/css" href="/stylesheets/jquery-cron.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/croissant.png">
</head>

<body>
<main class="container">
    <a href="/admin">↩ Accueil Administration</a>
    <h1 class="text-center">Paramètres :</h1>

    <form id="parametersForm" action="#" method="post" class="form-horizontal">
        <fieldset>
            <legend>Serveur mail :</legend>
            <div class="form-group">
                <label for="host" class="col-sm-2 control-label">Host : </label>

                <div class="col-sm-10">
                    <input id="host" type="text" class="form-control" value="<%= config.mailServer.host %>"/>
                </div>
            </div>
            <div class="form-group">
                <label for="port" class="col-sm-2 control-label">Port : </label>

                <div class="col-sm-10">
                    <input id="port" type="text" class="form-control" value="<%= config.mailServer.port %>"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <label for="secure" class="checkbox-inline">
                        <input id="secure" type="checkbox" <%= config.mailServer.secure ? 'checked' : '' %>> Secure
                    </label>
                    <label for="tls" class="checkbox-inline">
                        <input id="tls" type="checkbox" <%= config.mailServer.requireTLS ? 'checked' : '' %>> Chiffrement TLS
                    </label>
                </div>
            </div>
            <div class="form-group">
              <label for="sender" class="col-sm-2 control-label">Expéditeur : </label>

              <div class="col-sm-10">
                <input id="sender" type="text" class="form-control" value="<%= config.mailSender %>"/>
              </div>
            </div>
            <div class="form-group">
                <label for="user" class="col-sm-2 control-label">User : </label>

                <div class="col-sm-10">
                    <input id="user" type="text" class="form-control" value="<%= config.mailServer.auth.user %>"/>
                </div>
            </div>
            <div class="form-group">
                <label for="pass" class="col-sm-2 control-label">Password : </label>

                <div class="col-sm-10">
                    <input id="pass" type="password" class="form-control" value="<%= config.mailServer.auth.pass %>"/>
                </div>
            </div>
            <div class="form-group">
                <label for="pass" class="col-sm-2 control-label">Cron : </label>

                <div class="col-sm-10">
                    <div id="cron"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-default">Valider</button>
                </div>
            </div>
        </fieldset>
    </form>
</main>
</body>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/cron/jquery-cron.js"></script>
<script src="/js/source.js"></script>
<script type="text/javascript">
    $('#cron').cron({
        initial: "<%= config.weeklyNotificationPattern %>"
    });
</script>
</html>