<!DOCTYPE html>
<html>
<head>
  <title>Administration - Gestion du planning</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
  <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css'/>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <script src="../js/jquery.js"></script>
  <script src="../js/jquery-ui.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gestion du planning</a>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/admin">Retour à l'accueil de la partie administration</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<script>
  $(function () {
    $("#sortable").sortable({
      cursor: "move",
      update: function(event, ui) {
        $('#savePlanning').prop('disabled', false);
      }
    });
  });
</script>
<%
function convertDeliveryStringToDate(input) {
  var splitDate = input.split("/");
  var month = parseInt(splitDate[1], 10) - 1;
  return new Date(splitDate[2], month.toString(), splitDate[0]);
}

function getTodayDate() {
  var now = new Date();
  var dd = now.getDate();
  var mm = now.getMonth(); //January is 0!
  var yyyy = now.getFullYear();
  return new Date(yyyy, mm, dd);
}

var previousDeliveries = planning.filter(function (item) {
  return convertDeliveryStringToDate(item.date) < getTodayDate();
});

var followingDeliveries = planning.filter(function (item) {
  return convertDeliveryStringToDate(item.date) >= getTodayDate();
});
%>
<main class="container">
  <div class="contentDiv col-md-4">
    <select id="past-content" multiple class="form-control" disabled>
      <% previousDeliveries.forEach(function(item) { %>
      <option class="ui-state-default">
        <%= item.date %> <%= item.deliverer.name %>
      </option>
      <% }) %>
    </select>
  </div>
  <div class="saveDiv">
    <button type="button" class="btn btn-success" title="Enregistrer l'ordre" id="savePlanning" disabled>Sauvegarder</button>
  </div>
  <div class="col-md-8">
    <div class="sortableDiv">
      <ul id="sortable">
        <% followingDeliveries.forEach(function(item, index) { %>

        <li class="ui-state-default" id="<%= index %>">
          <span class="glyphicon glyphicon-resize-vertical"></span>
          <button type="button" class="btn btn-default btn-xs deleteDelivererButton"
                  title="Supprimer le livreur (remplacé par le suivant)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
          <button type="button" class="btn btn-default btn-xs changeDelivererButton" title="Changer le livreur">
            <span class="glyphicon glyphicon-transfer"></span>
          </button>
          <span class="ui-icon ui-icon-arrowthick-2-n-s delivererName" id="<%= item.deliverer.id %>">
              <%= item.deliverer.name %>
          </span>
          <button type="button" class="btn btn-default btn-xs cancelDelivererButton" title="Annuler">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </button>
          <button type="button" class="btn btn-default btn-xs saveDelivererButton" title="Enregistrer le changement de livreur">
            <span class="glyphicon glyphicon-save"></span>
          </button>
          <select class="changeDelivererList">
            <% subscribers.forEach(function(user) { %>
            <option value="<%= user.id %>" <% if (user.id == item.deliverer.id) { %>selected<% } %>><%= user.name %></option>
            <% }) %>
          </select>
        </li>
        <% }) %>
      </ul>
    </div>

    <div class="contentDiv">
      <ul id="dates">
        <% followingDeliveries.forEach(function(item) { %>
        <li class="ui-state-default">
          <%= item.date %>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
  <div class="col-md-3 addDelivery">
    <span class="followingDate">
      <%= followingDeliveryDate %>
    </span>
    <div class="followingDeliverer">
      <button type="button" class="btn btn-default btn-xs" title="Ajouter une livraison" id="addDeliveryBtn">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <select id="deliverer-id">
        <% subscribers.forEach(function(item) { %>
        <option value="<%= item.id %>" <% if (item.id == followingDeliverer.id) { %>selected<% } %>><%= item.name %></option>
        <% }) %>
      </select>
    </div>
  </div>
</main>
<script src="/js/planning.js"></script>
</body>
</html>