<!DOCTYPE html>
<html>
<head>
  <title>Administration - Gestion des utilisateurs</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
  <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css'/>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gestion des utilisateurs</a>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/admin">Retour à l'accueil de la partie administration</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<form id="usersForm" action="#" method="post" class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-default">Sauver</button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Identifiant</th>
      <th>Nom</th>
      <th>Abonné ?</th>
      <th>Externe ?</th>
      <th>Avatar</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><input id="newUserId" type="text"/></td>
      <td><input id="newUserName" type="text"/></td>
      <td><input id="newUserHasSubscribe" type="checkbox"/></td>
      <td><input id="newUserIsExternal" type="checkbox"/></td>
      <td><button id="addUserButton" type="button" class="btn btn-default">Ajouter</button></td>
    </tr>
    <% users.forEach(function(user) { %>
    <!-- http://jsfiddle.net/B4kAW/4/-->
    <tr class="user" id="<%= user.id %>">
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><input type="checkbox" <%= user.hasSubscribe ? 'checked' : '' %>></td>
      <td><input type="checkbox" <%= user.isExternal ? 'checked' : '' %>></td>
      <td><%= user.avatar %></td>
    </tr>
    <% }) %>

    </tbody>
  </table>
</form>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/source.js"></script>
</body>
</html>