<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css'/>
    <link rel="icon" type="image/png" href="/croissant.png">
</head>
<body background="/images/vinnoiserie.jpg">

<div class="the_deliverer">
    <h2>Alors, à qui le tour cette semaine ?</h2>

    <p class="deliverer">
        <%= model.actualDeliverer.deliverer.name %> ramène les petits pains.
    </p>
    <img id="deliv_image" src="<%= model.actualDeliverer.deliverer.avatar %>">
</div>

</br>

<div class="the_next_deliverer">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <% for(var i = 0; i < model.deliverers.length; i++) { %>
            <div class="item<%= model.deliverers[i].next == true ? " active" : "" %>">
                <div class="container">
                    <h4><%= model.deliverers[i].title %></h4>

                    <p class="next_deliverer">
                        <%= model.deliverers[i].deliverer.name %>
                    </p>
                  <a href="<%= model.deliverers[i].deliverer.avatar %>"><img id="next_deliv_image" src="<%= model.deliverers[i].deliverer.avatar %>"/></a>
                </div>
            </div>
            <% } %>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

</body>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/source.js"></script>
</html>
