<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css'/>
</head>

<body background="/images/vinnoiserie.jpg">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><%= title %></a>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/history">Historique des livraisons</a></li>
                <li><a href="/admin">Administration</a></li>
                <li><a href="/test-mail">Test Mail</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="the_deliverer">
<h2>Alors, à qui le tour cette semaine ?</h2>
<p class="deliverer">
    <% for(var i=0; i<model.length-1; i++) {%>
    <%= model[i].date %> -- <%= model[i].deliverer.name %>
    <% } %>
</p>
    <img id="deliv_image" src="/images/nathan_pichon.jpg">
</div>

</br>

<div class="the_next_deliverer">
<h4>La semaine prochaine, ce sera :</h4>
<p class="next_deliverer">
    <% for(var i=1; i<model.length; i++) {%>
    <%= model[i].date %> -- <%= model[i].deliverer.name %>
    <% } %>
</p>
    <img id="next_deliv_image" src="/images/inconnu.png">
</div>

</body>
<script src="javascripts/bootstrap.js"></script>
</html>
