<!DOCTYPE html>
<html>
<head>
    <title>Rappel Petits Pains</title>
</head>
<body>
    <h2>Rappel Petits Pains</h2>

    <p>Bonjour à tous,<br>
    Cette semaine la personne qui nous apporte les petits pains est <b><%= deliveries[0].deliverer.name %></b>.<br>
        <img src="<%= appBaseURI %><%=deliveries[0].deliverer.avatar%>" height="100"/>
    <br>
    La semaine prochaine ce sera <b><%= deliveries[1].deliverer.name %></b>. <br>
        <img src="<%= appBaseURI %><%=deliveries[1].deliverer.avatar%>" height="50" /><br>
    Retrouvez tout le calendrier <a title="(accessible depuis le réseau Sopra uniquement)" href="<%= appBaseURI %>">ici</a>.</p>

    <p><i>N.B. : Ceci est un mail automatique, merci de ne pas y répondre.<br/>
    En cas d'absence pour votre tour, rapprochez-vous d'un administrateur : Benjamin, Louis ou Adnane.</i></p>
</body>
</html>
